* {
 	color: white;
}

table {
    	border: 7px double green;
}

th {
   	 border-bottom: 4px solid white;
}	

td.mayori {
   	 border-bottom: 2px solid whitesmoke;
}

div #table {
    	float: center;
}

div #uno {
	float: left;
}


img{
	width: 32%;
	float: right;
	margin-right: 4%;
}
